.product__item {
    margin-left: 15px;
    width: calc(100% / var(--pc-column) - 15px);
    display: flex;
    flex-direction: column;
}

.product__item>img {
    width: 100%;
}

.product__item .conten {
    flex: 1;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__name {
    font-size: var(--font-size-name);
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #222;
}

.product__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-price);
    padding-top: 1rem;
}

.like {
    color: #666666;
}

.like>i {
    color: #fa7b26;
}

@media screen and (max-width:750px) {
    .product__item {
        width: calc(100% / var(--mobile-column) - 15px);
    }
}