.box {
    max-width: 100%;
    height: var(--height-navbar-pc);
    padding: 24px 120px 27px 97px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 226px;
    height: 26px;
    object-fit: contain;
    color: #fff;
}

.menu__icon {
    display: none;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__item {
    display: flex;
}

.menu__item>li {
    list-style: none;
    margin-right: 76px;
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: var(--navbar-font-size);
}

.menu__item>li:last-child {
    margin-right: unset;
}

.Rectangle-662 {
    width: 1px;
    height: 23px;
    margin: 0 44px 6px 57px;
    background-color: #ccc8c6;
}

@media screen and (max-width:750px) {
    .box {
        height: var(--height-navbar-mobile);
        padding: 0;
        align-items: center;
        position: fixed;
        z-index: 9999;
        width: 100%;
    }
    .menu__icon {
        display: block;
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
    .menu__icon>img {
        width: 100%;
    }
    .logo {
        display: flex;
        width: 226px;
        height: 20px;
        object-fit: contain;
        color: #fff;
    }
    .navbar__menu {
        position: fixed;
        top: var(--height-navbar-mobile);
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: black;
        flex-direction: column;
        transition: 0.5s;
        padding-top: 2rem;
    }
    .menu__item {
        flex-direction: column;
    }
    .menu__item>li {
        margin-bottom: 3rem;
        margin-inline: auto;
    }
    .menu__item>li:last-child {
        margin-left: unset;
        text-align: center;
    }
    .Rectangle-662 {
        width: 50%;
        height: 2px;
        margin-bottom: 2rem;
        background-color: #fff;
    }
    .activeMenu{
        left: 0;
    }
}